.MainContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding:5vw 4vw;
    box-sizing: border-box;
}
.LeftSection{
    width: 50%;
}
.Adresses{
    margin: 0;
    font-size:3.7vw;
}
.CardsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}
.RightSection{
    width: 50%;
    padding:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Heading{
    width: 90%;
    margin: 0;
    font-size: 3.7vw;
}
.TextContent{
    width: 90%;
    font-size: 1.2vw;
    margin: 0;
    line-height: 1.5;
    margin:1.5vw 0;
}
.Form{
    width: 90%;
}
.FirstInputContainer{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom:0.75vw;
}
.FirstInputContainer>input{
    width: 43%;
    padding:0.7vw;
    border:2px solid red;
    outline: none;
    background-color: rgb(216, 215, 243);
    font-size: 1vw;
}
.FirstInputContainer>input:nth-of-type(1){
    margin-right: 0.5vw;
}
.SecondInputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom:0.75vw;
}
.SecondInputContainer>input{
    width: 97%;
    padding:0.7vw;
    border:2px solid red;
    outline: none;
    background-color: rgb(216, 215, 243);
    box-sizing: border-box;
    font-size: 1vw;
    margin-bottom:0.75vw;
}
.TextArea{
    width: 97%;
    height:15vw;
    border:2px solid red;
    outline: none;
    background-color: rgb(216, 215, 243);
    box-sizing: border-box;
    padding:0.7vw;
    font-size: 1vw;
}
.SubmitInputContainer{
    width: 100%;
}
.SubmitInputContainer>input{
    border: 0;
    outline: none;
    padding:0.8vw 1.3vw;
    background-color: red;
    margin-left: 0.7vw;
    font-size: 1vw;
    color: white;
    cursor: pointer;
}
.SubmitInputContainer>input:hover{
    background-color: rgb(160, 14, 14);
}
@media(max-width:320px){
    .MainContainer{
        flex-direction: column;
        align-items: center;
        padding:23vw 8vw;
    }
    .LeftSection{
        width: 100%;
        margin-bottom: 7vw;
    }
    .Adresses{
        font-size:17vw;
    }
    .CardsContainer{
        flex-direction: column;
        margin-top: 2vw;
    }
    .RightSection{
        width: 100%;
    }
    .Heading{
        width: 100%;
        font-size: 17vw;
        line-height: 1;
    }
    .TextContent{
        width: 100%;
        font-size:4.8vw;
        line-height: 1.8;
        margin:6vw 0;
    }
    .Form{
        width: 100%;
    }
    .FirstInputContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-bottom: 0;
    }
    .FirstInputContainer>input{
        width: 100%;
        padding:4vw;
        font-size: 4vw;
        margin-bottom: 3vw;
        box-sizing: border-box;
    }
    .FirstInputContainer>input:nth-of-type(1){
        margin-right:0;
    }
    .SecondInputContainer{
        width: 100%;
    }
    .SecondInputContainer>input{
        width:100%;
        padding:4vw;
        font-size: 4vw;
        box-sizing: border-box;
        margin-bottom: 3vw;
    }
    .TextArea{
        width: 100%;
        height:60vw;
        padding:4vw;
        font-size: 4vw;
        margin-bottom: 3vw;
        box-sizing: border-box;
    }
    .SubmitInputContainer{
        width: 100%;
    }
    .SubmitInputContainer>input{
        padding:3vw 6vw;
        margin-left: 0.7vw;
        font-size: 4vw;
    }
}