.MainContainer{
   width: 100%;
   height:15vh;
   position: absolute;
   top: 0;
   left: 0;
   border-bottom: 1px solid darkgrey;
   z-index: 3;
}
.SubContainerA{
    width: 100%;
    height:15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
}
.SubContainerB{
    width: 100%;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.3;
    
}
.LogoContainer{
    height:15vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.Logo{
    width: 35%;
    height: 10vh;
}
.PageLinksContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.PageLinks a{
    text-decoration: none;
    color: white;
    padding: 0 2vw;
    height: 15vh;
    font-size: 1.4vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid transparent;
}
.PageLinks a:hover{
    border-bottom: 4px solid red;
    cursor: pointer;
}
.PageLinksContainerB{
    display: none;
}
@media(max-width:375px){
    .MainContainer{
        background-color: rgb(44, 51, 71);
    }
     .SubContainerA{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .PageLinksContainer{
         display: none;
     }
     .PageLinksContainerB{
         color: white;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .PageLinksContainerB>i{
         font-size: 20px;
         margin: 7px 0 0 0;
         cursor: pointer;
     }
     .linksContainer{
        box-sizing: border-box;
        position: absolute;
        bottom: 85px;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: rgb(44, 51, 71);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid rgb(189, 189, 207);
     }
     .linksContainerB{
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        background-color: rgb(44, 51, 71);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid rgb(189, 189, 207);
        position: absolute;
        bottom:85px;
        left: 0;
        animation: downwards 500ms linear  1 forwards;
     }
     @keyframes downwards {
        100%{
           transform: translateY(285px);
        }
    }
     .linksContainerC{
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        background-color: rgb(44, 51, 71);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid rgb(189, 189, 207);
        position: absolute;
        top: 85px;
        left: 0;
        animation: upwards 500ms linear  1 forwards;
     }
     @keyframes upwards {
        100%{
            transform: translateY(-285px);
        }
    }
    .PageLinks{
        width: 100%;
        box-sizing: border-box;
    }
    .PageLinks a{
        width: 100%;
        text-decoration: none;
        color: white;
        padding: 0;
        height:40px;
        font-size: 5vw;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 4px solid transparent;
    }
    .PageLinks a:hover{
        border-bottom: 4px solid transparent;
        cursor: pointer;
        color: red;
    }
}
