/* About-Page-Fisrt-Section */
.MainContainerA{
    width: 100%;
    background-image: url('../../../assets/about_us_landing_section_bg.png');
    background-repeat: no-repeat;
    background-size:100% 50vh;
}
.UpperSectionA{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UpperSectionA>p{
    color: white;
    font-size:3.7vw;
    font-weight: 600;
    transform: translateY(40px);
    text-align: center;
}
.LowerSectionA{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LeftSectionA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 3.5vw 13vw;
    font-size:2vw;
    text-align: center;
    color: white;
    box-sizing: border-box;
}
.ImageA{
    display: block;
}
.TextContent{
    line-height: 1.2;
}
.RightSectionA{
    display: none;
}
/* Products-Page-First-Section */
.MainContainerB{
    width: 100%;
    background-image: url('../../../assets/products_landing_section_bg.png');
    background-repeat: no-repeat;
    background-size:100% 50vh;
}
.UpperSectionB{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UpperSectionB>p{
    color: white;
    font-size:3.7vw;
    font-weight: 600;
    transform: translateY(40px);
    text-align: center;
}
.LowerSectionB{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LeftSectionB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding:0 6vw;
    box-sizing: border-box;
    font-size:2vw;
    text-align: center;
    width: 50%;
    height: 35vw;
}
.ImageB{
    display: none;
}
.RightSectionB{
    width: 50%;
    height:35vw;
    background-image: url('../../../assets/products_page_first_section_right_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Contact-Page-First-Section */
.MainContainerC{
    width: 100%;
    background-image: url('../../../assets/contact_page_first_section_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.UpperSectionC{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UpperSectionC>p{
    color: white;
    font-size:3.7vw;
    font-weight: 600;
    transform: translateY(40px);
    text-align: center;
}
.LowerSectionC{
   display: none;
}
@media(max-width:320px){
    /* About-Page-Fisrt-Section */
    .MainContainerA{
        background-size:100% 57vh;
    }
    .UpperSectionA{
        height: 57vh;
    }
    .UpperSectionA>p{
        width: 80%;
        font-size:13vw;
        line-height: 1;
    }
    .LeftSectionA{
        padding:20vw 13vw 10vw 13vw;
        font-size:8vw;
    }

    /*Products-Page-First-Section  */
    .MainContainerA{
        background-size:100% 57vh;
    }
    .UpperSectionB{
        height: 57vh;
    }
    .UpperSectionB>p{
        width: 80%;
        font-size:13vw;
        line-height: 1;
    }
    .LowerSectionB{
        position: relative;
        height: 100vh;
    }
    .LeftSectionB{
        padding:0 8vw;
        font-size:8.5vw;
        width: 100%;
        height:85vh;
        position: absolute;
        top: 7.5vh;
        left: 0;
    }
    .ImageB{
        display: none;
    }
    .RightSectionB{
        width:100%;
        height:100vh;
    }

    /* Contact-Page-Fisrt-Section */
    .UpperSectionC{
        height: 57vh;
    }
    .UpperSectionC>p{
        width: 80%;
        font-size:13vw;
        line-height: 1;
    }
    .LeftSectionC{
        padding:20vw 13vw 10vw 13vw;
        font-size:8vw;
    }
}