.MainContainerA{
    width: 100%;
    background-color: #324968;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw 0 6vw 0;
}
.MainContainerA>p{
    margin: 0;
    color: white;
}
.MainContainerA>p:nth-of-type(1){
   font-size:4vw;
   margin-bottom:0.5vw;
}
.MainContainerA>p:nth-of-type(2){
    width: 72%;
    font-size:2vw;
    margin-bottom:2vw;
    text-align: center;
    line-height: 1.2;
 }
 .MainContainerA button{
     border: 0;
     outline: none;
     background-color: red;
     padding:1vw 2vw;
     font-size:1.2vw;
     cursor: pointer;
     color: white;
 }
 .MainContainerA button:hover{
     background-color: rgb(151, 12, 12);
 }
 @media(max-width:320px){
    .MainContainerA{
        padding: 22vw 0;
    }
    .MainContainerA>p:nth-of-type(1){
        width: 60%;
       font-size:17vw;
       margin-bottom:6vw;
       line-height: 1;
       text-align: center;
    }
    .MainContainerA>p:nth-of-type(2){
        width: 72%;
        font-size:8vw;
        margin-bottom:7vw;
        text-align: center;
        line-height: 1.2;
     }
     .MainContainerA button{
         padding:3.7vw 8vw;
         font-size:4.5vw;
     }
 }
 .MainContainerB{
    width: 100%;
    background-color: #324968;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw 0 6vw 0;
}
.MainContainerB>p{
    margin: 0;
    color: white;
}
.MainContainerB>p:nth-of-type(1){
   font-size:4vw;
   margin-bottom:0.5vw;
}
.MainContainerB>p:nth-of-type(2){
    width: 72%;
    font-size:2vw;
    margin-bottom:2vw;
    text-align: center;
    line-height: 1.2;
 }
 .MainContainerB button{
     border: 0;
     outline: none;
     background-color: red;
     padding:1vw 2vw;
     font-size:1.2vw;
     color: white;
     cursor: pointer;
 }
 .MainContainerB button:hover{
    background-color: rgb(151, 12, 12);
}
 @media(max-width:320px){
    .MainContainerB{
        padding: 22vw 0;
    }
    .MainContainerB>p:nth-of-type(1){
        width: 60%;
       font-size:17vw;
       margin-bottom:6vw;
       line-height: 1;
       text-align: center;
    }
    .MainContainerB>p:nth-of-type(2){
        width: 72%;
        font-size:8vw;
        margin-bottom:7vw;
        text-align: center;
        line-height: 1.2;
     }
     .MainContainerB button{
         padding:3.7vw 8vw;
         font-size:4.5vw;
     }
 }