.MainContainer{
    width: 100%;
}
.FirstSection{
    width: 100%;
    height:100vh;
    background-image: url('../../../assets/home_landing_section_bg.png');
    background-repeat: no-repeat;
    background-size:100% 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Introtext{
    width: 100%;
    margin-bottom:7.5vh;
}
.Introtext>p{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 4.3vw;
    font-weight: 650;
    letter-spacing:0.3vw ;
    line-height: 0.93;
}
.IntroBtn{
    border: 0;
    outline: none;
    padding:1.7vh 1vw;
    font-size: 0.7vw;
    background-color: #324968;
    color:white;
}
.IntroBtn:hover{
    background-color: #233650;
    cursor: pointer;
}
.upperSection{
    background-color: #324968;
    color: white;
    font-size: 27px;
    padding:70px 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.15;
}
.LowerSection{
    height: 2vh;
    background-image: url('../../../assets/home_factory_pattern.png');
    background-repeat: no-repeat;
    background-size:cover;
}
@media(max-width:320px){
    .FirstSection{
        background-size:200% 100vh;
        background-position-x:80% ;
    }
    .Introtext>p{
        font-size: 7.5vw;
        font-weight: 650;
        letter-spacing:0.3vw ;
        line-height: 1;
    }
    .IntroBtn{
        transform: translateY(-7vh);
        padding:1.7vh 3vw;
        font-size: 2.5vw;
    }
    .upperSection{
        padding:60px 50px;
    }
}