.MainContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}
.PageNotFoundImage{
    width: 50%;
    height:50vh;
}