.MainContainer{
    position: absolute;
    top: 125vh;
    left: 0;
    height: 321vh;
}
@media(max-width:320px){
    .MainContainer{
        position: absolute;
        top: 180vh;
        left: 0;
        height: 785vh;
    }
}